body {
  background-color: black;
  background-image: url(chuarbig.png);
  background-size: fit;                     
  background-repeat: no-repeat;
  background-position: center center;
  color: red;
}

#chuantitles {
  Font-Family: 'Roboto Condensed', Sans-Serif;
Font-Size: 35px;
}

.col-sm-4 {
  padding: 50px;
  color: red;
}

#chuanrs {
  background-color: rgb(245, 13, 13, .5);
  border-radius: 10px;
  Font-Family: 'Cabin', Sans-Serif;
  Font-Size: 16px;
}

.change-eaten {
  background-color: #f44336;
  color: white;
}

.delete-chuanr {
  background-color: #f44336;
  color: white;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
